/* notetaker */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(164, 164, 209);
}
h1{
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: 'Courier New', Courier, monospace;
    
}
#myText{
    margin-bottom: 2vh;
    border-radius: 15px;
    background-color:white;
    padding: 16px 20px;
    border: 0;
    outline: 0;
    font-size: 15px;
}
#addBt{
    margin-bottom: 2vw;
    background-color:rgb(230, 230, 48);
    border-radius: 40px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
}
div{
    /* display:inline-block; */
    margin: 40px;
    padding: 30px ;
    height: auto;
    width: auto;
    border: 3px solid black;
    border-radius: 20%;
    justify-content: space-between;
    
}
.delBtn{
    align-self: flex-end;
    
}
#noteslist{
    display: grid;
    white-space: wrap;

  
}

@media screen and (min-width: 576px)
{
    #noteslist{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 767px)
{
    #noteslist{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (min-width: 990px)
{
    #noteslist{
        grid-template-columns: repeat(4,1fr);
    }
}

