body{
    background-color:rgb(212, 171, 60);
    font-family: 'Roboto',sans-serif;
}

.form
{
width: 360px;
height: 620px;
margin:  auto;
background-color: white;
border-radius: 3px;

}

h1{
    text-align: center;
    padding-top: 5px;
}

form{
    width: 300px;
    margin-left: 20px;
}

h2{
    text-align: center;
    padding-top: 5px;
    height: 30px;
    width:40px;
    font-size: 35px;

    
}

h3
{
        text-align: center;
        padding-top: 5px;
        height: 30px;
        width:40px;
        font-size: 35px;
}

button{
    width: 320px;
    height: 35px;
    margin-top: 50px;
    border: none;
    background-color:rgb(93, 3, 18);
    color:white;
    font-size: 18px;
}

